<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta charset="utf-8" name="viewport"
	content="width=device-width, initial-scale=1">
<title>FURU-CRM</title>

<style>
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-weight: 400;
	line-height: 1.25;
	font-family: 'Raleway', Calibri, Arial, sans-serif;
	background-color: #120A2A;
}

.header {
	height: 150px;
	max-height: 150px;
}

.header-left {
	background: url('/images/logo.png');
	height: 150px;
	width: 150px;
	background-repeat: no-repeat;
	max-height: 150px;
}

.header-right {
	text-align: right;
	background: url('/images/IceCreambaner.gif');
	width: 70%;
	height: 100%;
	max-height: 100%;
}

.menu {
	height: 70px;
	max-height: 70px;
}

.btn-group button {
	background-color: #4CAF50; /* Green background */
	border: 1px solid green; /* Green border */
	color: #330000; /* White text */
	padding: 10px 24px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	float: left; /* Float the buttons side by side */
}

.btn-group button:not (:last-child ) {
	border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
	content: "";
	clear: both;
	display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
	background-color: #3e8e41;
}

#footer {
	background: #120A2A;
	border-top: 5px solid #333;
	color: #ccc;
	font-weight: bold;
	height: 50px;
	line-height: 50px;
	position: absolute;
	/*bottom: 0;*/
	left: 0;
	width: 100%;
	text-align: center;
}
.body-wrapper{
	position: relative;
}
</style>
</head>
<body>
	<div class="container">
		<!-- header -->
			<div class="col-md-1 login">
				<a th:if="${#request.userPrincipal == null}" th:href="@{/login}">Login</a>
				<a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>
			</div>
		<!-- end header -->
	</div>
	
	<section class="nav">
		<a th:href="@{/addProduct}"><button>Add</button></a>
	</section>
	
	<div class="container-fluid">
		<div class="col-md-12">
				<div class="col-md-5">
					<form th:action="@{/searchProduct}" method="get">
						<div class="form-group row">
							<label class="col-sm-9 col-form-label">
								<input type="text" class="form-control" th:value="${keyword}" name="keyword">
							</label>
							<div class="col-sm-3">
								<button type="submit" class="form-control">Find</button>
							</div>
						</div>
					</form>
					
				</div>
				<div class="col-md-7"></div>
			</div>
	</div>
	<div class="container-fluid"
		style="margin-top: 20px; background-color: white">

		<div class="container main-content list">
			
			
			<th:block th:if="${#lists.isEmpty(products.pageList)}">
				<h3>No Order</h3>
			</th:block>

			<th:block th:unless="${#lists.isEmpty(products.pageList)}">
				<nav class="row justify-content-center wow fadeIn"
					data-wow-delay="0.2s">
					<div class="row" style="min-height: 500px">
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
								 	<th scope="col">No.</th>
									<th scope="col">ID</th>
									<th scope="col">Product</th>
									<!-- <th scope="col">Image</th> -->
									<th scope="col">Description</th>
									<th scope="col">Detail</th>
									<th scope="col"></th>
									<th scope="col"></th>
									<th scope="col"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="lstProduct,iterStat : ${products.pageList}">
									<td th:text="${iterStat.count}"></td>
									<th scope="row" th:text="${lstProduct.id}"></th>
									<td th:text="${lstProduct.productName}"></td>
									<!-- <td>		
										<img alt="" th:src="'/' + ${lstProduct.image}">
									</td> -->
									<td th:text="${lstProduct.description}"></td>
									<td th:text="${lstProduct.detail}"></td>
									<td><a th:href="@{'/product-detail/' + ${lstProduct.id}}"><button class="btn btn-success">Detail</button></a></td>
									<td><a th:href="@{'/edit/' + ${lstProduct.id}}"><button class="btn btn-warning">Edit</button></a></td>
									<td>
										<a th:href="@{'/delete/' + ${lstProduct.id}}">
											<button type="submit" class="btn btn-danger" onclick="if (!confirm('Are you sure delete this item ?')) { return false }">
												<span>Delete</span>
											</button>
										</a>
									</td>
									
								
								</tr>
							</tbody>
						</table>
					</div>
					<ul class="pagination">
						<li
							th:class="${currentIndex == 1}? 'page-item disabled' : 'page-item'">
							<a class="page-link" th:href="@{/productAll}">First</a>
						</li>
						<li
							th:class="${currentIndex == 1}? 'page-item disabled': 'page-item' ">
							<a class="page-link" aria-label="Previous"
							th:href="@{|${baseUrl}${currentIndex - 1}|}"
							title='Go to previous page'><span aria-hidden="true">«</span>
								<span class="sr-only">Previous</span></a>
						</li>
						<li th:each="item : ${#numbers.sequence(beginIndex,endIndex)}"
							th:class="${item == currentIndex ? 'page-item active' :'page-item' }">
							<a class="page-link" th:href="@{|${baseUrl}${item}|}"> <span
								th:text='${item}'>1</span>
						</a>
						</li>
						<li
							th:class="${currentIndex == totalPageCount}? 'page-item disabled': 'page-item'">
							<a class="page-link" aria-label="Next"
							th:href="@{|${baseUrl}${currentIndex + 1}|}"
							title='Go to next page'><span aria-hidden="true">»</span> <span
								class="sr-only">Next</span></a>
						</li>
						<li
							th:class="${currentIndex == totalPageCount}? 'page-item disabled':'page-item'">
							<a class="page-link" th:href="@{|${baseUrl}${totalPageCount}|}">Last</a>
						</li>
					</ul>
				</nav>

			</th:block>
		</div>
	</div>
	<!-- /.container -->

</body>
</html>