<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta charset="utf-8" name="viewport"
	content="width=device-width, initial-scale=1">
<title>FURU-CRM</title>

<style>
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-weight: 400;
	line-height: 1.25;
	font-family: 'Raleway', Calibri, Arial, sans-serif;
}

.header {
	height: 150px;
	border: 1px solid pink;
	background: #383a3c;
	font-size: 18px;
}

.header-left {
	background: url('/images/logo.png');
	height: 150px;
	width: 150px;
	background-repeat: no-repeat;
}

.header-right {
	margin-top: 100px;
	text-align: center;
}

.header-right a {
	margin-left: 80px;
	color: red;
}

.recipes h5 {
	border-top: 1px solid pink;
	line-height: 30px;
}
</style>
</head>
<body>
	<div class="container">
		<!-- header -->
			<div class="col-md-1 login">
				<a th:if="${#request.userPrincipal == null}" th:href="@{/login}">Login</a>
				<a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>
			</div>
		<!-- end header -->
	</div>
	<div class="container" style="height: 300px; margin-top: 50px">
		<div class="col-md-12">
			<div class="col-md-3 recipes"
				style="color: red; font-size: 20px; border: 1px solid pink">
				<h1>Products</h1>
				<div th:each="lstProduct: ${lstProduct}">
					<h5>
						<a th:href="${lstProduct.id}" th:text="${lstProduct.productName}"></a>
					</h5>
				</div>
			</div>
			<div class="col-md-9" th:object="${product}">
				<h1>Detail</h1>
				<!-- row middle -->
				<div class="row">
					<div class="col-md-6">
						<div class="hinh">
							<img style="border: 3px solid;" th:src="'/' + *{image}">
						</div>
					</div>
					<div class="col-md-6">
						<h5 th:text="*{description}"></h5>
					</div>
				</div>
				<div class="row" style="margin-left: 0px; margin-right: 0px;">
					<h5 th:text="*{detail}"></h5>
				</div>
				<!-- row end -->

			</div>
		</div>
	</div>
</body>
</html>